-var dots_amount = 40
section#background.background
	#background_image.background_image
		//- +insert-image('background-image.jpg', 'background-image')
	- for (var dot = 1; dot <= dots_amount; dot++)
		.background_dot